<?xml version="1.0"?>
<config>
    <modules>
        <MyCompany_TechTalk>
            <version>0.1.0</version>
        </MyCompany_TechTalk>
    </modules>
    <frontend>
        <routers>
            <techtalk>
                <use>standard</use>
                <args>
                    <module>MyCompany_TechTalk</module>
                    <frontName>techtalk</frontName>
                </args>
            </techtalk>
        </routers>
        <layout>  <!-- New Section Added -->
            <updates>
                <techtalk>
                    <file>techtalk.xml</file> <!-- This is name of the layout file for this module -->
                </techtalk>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <techtalk>
                <class>MyCompany_TechTalk_Block</class>
            </techtalk>
			
        </blocks>
        <models>
            <techtalk>
                <class>MyCompany_TechTalk_Model</class>
				<resourceModel>techtalk_resource</resourceModel>
            </techtalk>
			<techtalk_resource>
				<class>MyCompany_TechTalk_Model_Resource</class>
				<entities>
					<contact>
						<table>ain_contact</table>
					</contact>
				</entities>
			</techtalk_resource>
        </models>
    </global>
</config>